/* Buttons */
/* Base */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025rem;
  border: none;
  border: 2px solid $gray-200;
  background-color: transparent;
  color: #444;
  outline: none;
  text-decoration: none;
  user-select: none;
  width: auto;
  // height: auto;
  height: 36px;

  transition: background-color 150ms ease-in, color 150ms ease-in, border-color 150ms ease-in;

  &.wide {
    width: 100%;
  }

  &.primary {
    color: $white;
    border-color: $blue;
    background-color: $blue;
  }

  &.secondary {
    color: $gray-600;
    border-color: $gray-600;
    background-color: transparent;
  }

  &.white {
    color: $white;
    border-color: $white;
    background-color: transparent;
  }

  &.black {
    color: $gray-1000;
    border-color: $gray-1000;
    background-color: transparent;
  }

  &.sm {
    padding: 0.25rem;
    height: 26px;
    line-height: 0.5;
  }
}

button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  text-decoration: none;
  border-color: #555;
  color: #000;

  &.primary {
    color: $white;
    border-color: darken($blue, 10%);
    background-color: darken($blue, 10%);
  }

  &.secondary,&.white,&.black {
    color: $white;
    border-color: $gray-800;
    background-color: $gray-800;
  }
}

.button-group {
  display: flex;
  flex-flow: row nowrap;

  &.right {
    justify-content: flex-end;
  }

  &.wide {
    width: 100%;
    justify-content: space-between;
  }

  button {
    width: 100%;
  }
}