html, body, .main-container { 
  height: 100%;
  width: 100%;
  margin: 0; 
}

body {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  background-color: #fafafa;
  line-height: 1.15;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: $gray-100;
}

.content { 
  background-color: $gray-200;
}

.footer { 

  background-color: $gray-400; 
}

.text-center {
  text-align: center;
}